In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(['EIN', 'NAME'], axis=1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine which values to replace if counts are less than ...?
application_type = application_df['APPLICATION_TYPE'].value_counts()
new_application_type = list(application_type[application_type < 500].index)

# Replace in dataframe
for app in new_application_type:
    application_df.APPLICATION_TYPE = application_df.APPLICATION_TYPE.replace(app,"Other")
    
# Check to make sure binning was successful
application_df.APPLICATION_TYPE.value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [4]:
classification = application_df['CLASSIFICATION'].value_counts()
# Determine which values to replace if counts are less than ..?
replace_class = list(classification[classification < 500].index)

# Replace in dataframe
for cls in replace_class:
    application_df.CLASSIFICATION = application_df.CLASSIFICATION.replace(cls,"Other")
    
# Check to make sure binning was successful
application_df.CLASSIFICATION.value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: CLASSIFICATION, dtype: int64

In [5]:
# Generate our categorical variable lists
application_cat = application_df.dtypes[application_df.dtypes == "object"].index.tolist()
application_cat

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [6]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(application_df[application_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(application_cat)
encode_df.head()

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,AFFILIATION_CompanySponsored,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [7]:
# Merge one-hot encoded features and drop the originals
application_df = application_df.merge(encode_df, left_index=True,right_index=True)
application_df = application_df.drop(columns = application_cat)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [8]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL'].values
X = application_df.drop(['IS_SUCCESSFUL'],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

/Users/veronicalobkina/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

In [9]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [10]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 50
hidden_nodes_layer2 = 20

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 50)                2250
_________________________________________________________________
dense_1 (Dense)              (None, 20)                1020
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 21
=================================================================
Total params: 3,291
Trainable params: 3,291
Non-trainable params: 0
_________________________________________________________________

2022-07-31 11:04:05.479840: I tensorflow/core/platform/cpu_feature_guard.cc:145] This TensorFlow binary is optimized with Intel(R) MKL-DNN to use the following CPU instructions in performance critical operations:  SSE4.1 SSE4.2
To enable them in non-MKL-DNN operations, rebuild TensorFlow with the appropriate compiler flags.
2022-07-31 11:04:05.481561: I tensorflow/core/common_runtime/process_util.cc:115] Creating new thread pool with default inter op setting: 8. Tune using inter_op_parallelism_threads for best performance.

In [11]:
# Import checkpoint dependencies
import os
from tensorflow.keras.callbacks import ModelCheckpoint

# Define the checkpoint path and filenames
os.makedirs("checkpoints/",exist_ok=True)
checkpoint_path = "checkpoints/weights.{epoch:02d}.hdf5"

In [12]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [13]:
# Create a callback that saves the model's weights every 5 epochs
cp_callback = ModelCheckpoint(
    filepath=checkpoint_path,
    verbose=1,
    save_weights_only=True,
    save_freq=1000)

In [14]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Train on 25724 samples
Epoch 1/100
25724/25724 [==============================] - 2s 65us/sample - loss: 0.5730 - accuracy: 0.7236
Epoch 2/100
25724/25724 [==============================] - 1s 37us/sample - loss: 0.5550 - accuracy: 0.7298
Epoch 3/100
25724/25724 [==============================] - 1s 37us/sample - loss: 0.5522 - accuracy: 0.7315
Epoch 4/100
25724/25724 [==============================] - 1s 40us/sample - loss: 0.5503 - accuracy: 0.7331
Epoch 5/100
25724/25724 [==============================] - 1s 38us/sample - loss: 0.5484 - accuracy: 0.7324
Epoch 6/100
25724/25724 [==============================] - 1s 38us/sample - loss: 0.5478 - accuracy: 0.7325
Epoch 7/100
25724/25724 [==============================] - 1s 39us/sample - loss: 0.5468 - accuracy: 0.7327
Epoch 8/100
25724/25724 [==============================] - 1s 38us/sample - loss: 0.5471 - accuracy: 0.7326
Epoch 9/100
25724/25724 [==============================] - 1s 38us/sample - loss: 0.5459 - accuracy: 0.7343
Epoch 10/100
25724/25724 [==============================] - 1s 41us/sample - loss: 0.5453 - accuracy: 0.7350
Epoch 11/100
25724/25724 [==============================] - 1s 38us/sample - loss: 0.5455 - accuracy: 0.7345
Epoch 12/100
25724/25724 [==============================] - 1s 37us/sample - loss: 0.5448 - accuracy: 0.7350
Epoch 13/100
25724/25724 [==============================] - 1s 39us/sample - loss: 0.5441 - accuracy: 0.7354
Epoch 14/100
25724/25724 [==============================] - 1s 38us/sample - loss: 0.5442 - accuracy: 0.7350
Epoch 15/100
25724/25724 [==============================] - 1s 38us/sample - loss: 0.5437 - accuracy: 0.7355
Epoch 16/100
25724/25724 [==============================] - 1s 37us/sample - loss: 0.5434 - accuracy: 0.7355
Epoch 17/100
25724/25724 [==============================] - 1s 37us/sample - loss: 0.5432 - accuracy: 0.7342
Epoch 18/100
25724/25724 [==============================] - 1s 37us/sample - loss: 0.5430 - accuracy: 0.7358
Epoch 19/100
25724/25724 [==============================] - 1s 37us/sample - loss: 0.5428 - accuracy: 0.7364
Epoch 20/100
25724/25724 [==============================] - 1s 37us/sample - loss: 0.5429 - accuracy: 0.7358
Epoch 21/100
25724/25724 [==============================] - 1s 37us/sample - loss: 0.5423 - accuracy: 0.7357
Epoch 22/100
25724/25724 [==============================] - 1s 37us/sample - loss: 0.5421 - accuracy: 0.7363
Epoch 23/100
25724/25724 [==============================] - 1s 38us/sample - loss: 0.5420 - accuracy: 0.7358
Epoch 24/100
25724/25724 [==============================] - 1s 37us/sample - loss: 0.5416 - accuracy: 0.7354
Epoch 25/100
25724/25724 [==============================] - 1s 37us/sample - loss: 0.5416 - accuracy: 0.7364
Epoch 26/100
25724/25724 [==============================] - 1s 37us/sample - loss: 0.5411 - accuracy: 0.7366
Epoch 27/100
25724/25724 [==============================] - 1s 41us/sample - loss: 0.5413 - accuracy: 0.7362
Epoch 28/100
25724/25724 [==============================] - 1s 53us/sample - loss: 0.5412 - accuracy: 0.7372
Epoch 29/100
25724/25724 [==============================] - 1s 37us/sample - loss: 0.5410 - accuracy: 0.7375
Epoch 30/100
25724/25724 [==============================] - 1s 37us/sample - loss: 0.5407 - accuracy: 0.7360
Epoch 31/100
25724/25724 [==============================] - 1s 38us/sample - loss: 0.5409 - accuracy: 0.7373
Epoch 32/100
25724/25724 [==============================] - 1s 38us/sample - loss: 0.5400 - accuracy: 0.7376
Epoch 33/100
25724/25724 [==============================] - 1s 37us/sample - loss: 0.5403 - accuracy: 0.7379
Epoch 34/100
25724/25724 [==============================] - 1s 38us/sample - loss: 0.5403 - accuracy: 0.7382
Epoch 35/100
25724/25724 [==============================] - 1s 37us/sample - loss: 0.5397 - accuracy: 0.7381
Epoch 36/100
25724/25724 [==============================] - 1s 38us/sample - loss: 0.5405 - accuracy: 0.7370
Epoch 37/100
25724/25724 [==============================] - 1s 37us/sample - loss: 0.5400 - accuracy: 0.7372
Epoch 38/100
25724/25724 [==============================] - 1s 37us/sample - loss: 0.5397 - accuracy: 0.7374
Epoch 39/100
25724/25724 [==============================] - 1s 38us/sample - loss: 0.5394 - accuracy: 0.7389
Epoch 40/100
25724/25724 [==============================] - 1s 37us/sample - loss: 0.5400 - accuracy: 0.7390
Epoch 41/100
25724/25724 [==============================] - 1s 38us/sample - loss: 0.5394 - accuracy: 0.7379
Epoch 42/100
25724/25724 [==============================] - 1s 38us/sample - loss: 0.5386 - accuracy: 0.7378
Epoch 43/100
25724/25724 [==============================] - 1s 38us/sample - loss: 0.5395 - accuracy: 0.7389
Epoch 44/100
25724/25724 [==============================] - 1s 38us/sample - loss: 0.5394 - accuracy: 0.7383
Epoch 45/100
25724/25724 [==============================] - 1s 37us/sample - loss: 0.5389 - accuracy: 0.7386
Epoch 46/100
25724/25724 [==============================] - 1s 38us/sample - loss: 0.5387 - accuracy: 0.7383
Epoch 47/100
25724/25724 [==============================] - 1s 38us/sample - loss: 0.5389 - accuracy: 0.7393
Epoch 48/100
25724/25724 [==============================] - 1s 38us/sample - loss: 0.5387 - accuracy: 0.7393
Epoch 49/100
25724/25724 [==============================] - 1s 38us/sample - loss: 0.5388 - accuracy: 0.7381
Epoch 50/100
25724/25724 [==============================] - 1s 37us/sample - loss: 0.5389 - accuracy: 0.7394
Epoch 51/100
25724/25724 [==============================] - 1s 38us/sample - loss: 0.5388 - accuracy: 0.7386
Epoch 52/100
25724/25724 [==============================] - 1s 38us/sample - loss: 0.5388 - accuracy: 0.7400
Epoch 53/100
25724/25724 [==============================] - 1s 38us/sample - loss: 0.5386 - accuracy: 0.7388
Epoch 54/100
25724/25724 [==============================] - 1s 40us/sample - loss: 0.5380 - accuracy: 0.7390
Epoch 55/100
25724/25724 [==============================] - 1s 37us/sample - loss: 0.5381 - accuracy: 0.7388
Epoch 56/100
25724/25724 [==============================] - 1s 38us/sample - loss: 0.5380 - accuracy: 0.7397
Epoch 57/100
25724/25724 [==============================] - 1s 37us/sample - loss: 0.5382 - accuracy: 0.7388
Epoch 58/100
25724/25724 [==============================] - 1s 37us/sample - loss: 0.5384 - accuracy: 0.7388
Epoch 59/100
25724/25724 [==============================] - 1s 37us/sample - loss: 0.5377 - accuracy: 0.7390
Epoch 60/100
25724/25724 [==============================] - 1s 37us/sample - loss: 0.5381 - accuracy: 0.7398
Epoch 61/100
25724/25724 [==============================] - 1s 37us/sample - loss: 0.5380 - accuracy: 0.7393
Epoch 62/100
25724/25724 [==============================] - 1s 37us/sample - loss: 0.5381 - accuracy: 0.7398
Epoch 63/100
25724/25724 [==============================] - 1s 38us/sample - loss: 0.5375 - accuracy: 0.7400
Epoch 64/100
25724/25724 [==============================] - 1s 38us/sample - loss: 0.5377 - accuracy: 0.7393
Epoch 65/100
25724/25724 [==============================] - 1s 38us/sample - loss: 0.5375 - accuracy: 0.7393
Epoch 66/100
25724/25724 [==============================] - 1s 38us/sample - loss: 0.5376 - accuracy: 0.7410
Epoch 67/100
25724/25724 [==============================] - 1s 38us/sample - loss: 0.5373 - accuracy: 0.7393
Epoch 68/100
25724/25724 [==============================] - 1s 40us/sample - loss: 0.5373 - accuracy: 0.7397
Epoch 69/100
25724/25724 [==============================] - 1s 38us/sample - loss: 0.5372 - accuracy: 0.7408
Epoch 70/100
25724/25724 [==============================] - 1s 38us/sample - loss: 0.5374 - accuracy: 0.7390
Epoch 71/100
25724/25724 [==============================] - 1s 37us/sample - loss: 0.5370 - accuracy: 0.7393
Epoch 72/100
25724/25724 [==============================] - 1s 37us/sample - loss: 0.5372 - accuracy: 0.7402
Epoch 73/100
25724/25724 [==============================] - 1s 37us/sample - loss: 0.5369 - accuracy: 0.7397
Epoch 74/100
25724/25724 [==============================] - 1s 37us/sample - loss: 0.5366 - accuracy: 0.7400
Epoch 75/100
25724/25724 [==============================] - 1s 58us/sample - loss: 0.5367 - accuracy: 0.7400
Epoch 76/100

25724/25724 [==============================] - 1s 37us/sample - loss: 0.5372 - accuracy: 0.7396
Epoch 77/100
25724/25724 [==============================] - 1s 37us/sample - loss: 0.5368 - accuracy: 0.7407
Epoch 78/100
25724/25724 [==============================] - 1s 38us/sample - loss: 0.5366 - accuracy: 0.7394
Epoch 79/100
25724/25724 [==============================] - 1s 37us/sample - loss: 0.5367 - accuracy: 0.7399
Epoch 80/100
25724/25724 [==============================] - 1s 37us/sample - loss: 0.5364 - accuracy: 0.7400
Epoch 81/100
25724/25724 [==============================] - 1s 37us/sample - loss: 0.5366 - accuracy: 0.7401
Epoch 82/100
25724/25724 [==============================] - 1s 39us/sample - loss: 0.5362 - accuracy: 0.7396
Epoch 83/100
25724/25724 [==============================] - 1s 37us/sample - loss: 0.5363 - accuracy: 0.7399
Epoch 84/100
25724/25724 [==============================] - 1s 37us/sample - loss: 0.5364 - accuracy: 0.7397
Epoch 85/100
25724/25724 [==============================] - 1s 39us/sample - loss: 0.5362 - accuracy: 0.7404
Epoch 86/100
25724/25724 [==============================] - 1s 37us/sample - loss: 0.5367 - accuracy: 0.7399
Epoch 87/100
25724/25724 [==============================] - 1s 37us/sample - loss: 0.5359 - accuracy: 0.7410
Epoch 88/100
25724/25724 [==============================] - 1s 58us/sample - loss: 0.5360 - accuracy: 0.7405
Epoch 89/100
25724/25724 [==============================] - 1s 37us/sample - loss: 0.5358 - accuracy: 0.7403
Epoch 90/100
25724/25724 [==============================] - 1s 37us/sample - loss: 0.5360 - accuracy: 0.7405
Epoch 91/100
25724/25724 [==============================] - 1s 37us/sample - loss: 0.5359 - accuracy: 0.7406
Epoch 92/100
25724/25724 [==============================] - 1s 37us/sample - loss: 0.5362 - accuracy: 0.7408
Epoch 93/100
25724/25724 [==============================] - 1s 39us/sample - loss: 0.5360 - accuracy: 0.7406
Epoch 94/100
25724/25724 [==============================] - 1s 37us/sample - loss: 0.5361 - accuracy: 0.7393
Epoch 95/100
25724/25724 [==============================] - 1s 56us/sample - loss: 0.5359 - accuracy: 0.7399
Epoch 96/100
25724/25724 [==============================] - 3s 105us/sample - loss: 0.5360 - accuracy: 0.7410
Epoch 97/100
25724/25724 [==============================] - 4s 172us/sample - loss: 0.5358 - accuracy: 0.7399
Epoch 98/100
25724/25724 [==============================] - 8s 296us/sample - loss: 0.5357 - accuracy: 0.7404
Epoch 99/100
25724/25724 [==============================] - 7s 280us/sample - loss: 0.5358 - accuracy: 0.7402
Epoch 100/100
25724/25724 [==============================] - 3s 120us/sample - loss: 0.5357 - accuracy: 0.7404

In [15]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8575/1 - 0s - loss: 0.5556 - accuracy: 0.7271
Loss: 0.5545171663851501, Accuracy: 0.7271137237548828

## Attempt 2

In [17]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [18]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(['EIN', 'NAME'], axis=1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [19]:
# Determine which values to replace if counts are less than ...?
application_type = application_df['APPLICATION_TYPE'].value_counts()
new_application_type = list(application_type[application_type < 500].index)

# Replace in dataframe
for app in new_application_type:
    application_df.APPLICATION_TYPE = application_df.APPLICATION_TYPE.replace(app,"Other")
    
# Check to make sure binning was successful
application_df.APPLICATION_TYPE.value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [20]:
classification = application_df['CLASSIFICATION'].value_counts()
# Determine which values to replace if counts are less than ..?
replace_class = list(classification[classification < 500].index)

# Replace in dataframe
for cls in replace_class:
    application_df.CLASSIFICATION = application_df.CLASSIFICATION.replace(cls,"Other")
    
# Check to make sure binning was successful
application_df.CLASSIFICATION.value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: CLASSIFICATION, dtype: int64

In [21]:
# Generate our categorical variable lists
application_cat = application_df.dtypes[application_df.dtypes == "object"].index.tolist()
application_cat

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [22]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(application_df[application_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(application_cat)
encode_df.head()

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,AFFILIATION_CompanySponsored,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [23]:
# Merge one-hot encoded features and drop the originals
application_df = application_df.merge(encode_df, left_index=True,right_index=True)
application_df = application_df.drop(columns = application_cat)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [24]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL'].values
X = application_df.drop(['IS_SUCCESSFUL'],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

/Users/veronicalobkina/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

In [25]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [26]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 10
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_3 (Dense)              (None, 10)                450
_________________________________________________________________
dense_4 (Dense)              (None, 5)                 55
_________________________________________________________________
dense_5 (Dense)              (None, 1)                 6
=================================================================
Total params: 511
Trainable params: 511
Non-trainable params: 0
_________________________________________________________________

In [27]:
# Import checkpoint dependencies
import os
from tensorflow.keras.callbacks import ModelCheckpoint

# Define the checkpoint path and filenames
os.makedirs("checkpoints/",exist_ok=True)
checkpoint_path = "checkpoints/weights.{epoch:02d}.hdf5"

In [28]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [29]:
# Create a callback that saves the model's weights every 5 epochs
cp_callback = ModelCheckpoint(
    filepath=checkpoint_path,
    verbose=1,
    save_weights_only=True,
    save_freq=1000)

In [30]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Train on 25724 samples
Epoch 1/100
25724/25724 [==============================] - 1s 54us/sample - loss: 0.6181 - accuracy: 0.7050
Epoch 2/100
25724/25724 [==============================] - 1s 35us/sample - loss: 0.5777 - accuracy: 0.7289
Epoch 3/100
25724/25724 [==============================] - 1s 35us/sample - loss: 0.5621 - accuracy: 0.7297
Epoch 4/100
25724/25724 [==============================] - 1s 35us/sample - loss: 0.5559 - accuracy: 0.7303
Epoch 5/100
25724/25724 [==============================] - 1s 35us/sample - loss: 0.5537 - accuracy: 0.7312
Epoch 6/100
25724/25724 [==============================] - 1s 35us/sample - loss: 0.5529 - accuracy: 0.7311
Epoch 7/100
25724/25724 [==============================] - 1s 35us/sample - loss: 0.5519 - accuracy: 0.7318
Epoch 8/100
25724/25724 [==============================] - 1s 36us/sample - loss: 0.5516 - accuracy: 0.7313
Epoch 9/100
25724/25724 [==============================] - 1s 35us/sample - loss: 0.5509 - accuracy: 0.7321
Epoch 10/100
25724/25724 [==============================] - 1s 35us/sample - loss: 0.5506 - accuracy: 0.7321
Epoch 11/100
25724/25724 [==============================] - 1s 34us/sample - loss: 0.5503 - accuracy: 0.7317
Epoch 12/100
25724/25724 [==============================] - 1s 35us/sample - loss: 0.5499 - accuracy: 0.7326
Epoch 13/100
25724/25724 [==============================] - 1s 35us/sample - loss: 0.5496 - accuracy: 0.7323
Epoch 14/100
25724/25724 [==============================] - 1s 35us/sample - loss: 0.5494 - accuracy: 0.7324
Epoch 15/100
25724/25724 [==============================] - 1s 35us/sample - loss: 0.5492 - accuracy: 0.7322
Epoch 16/100
25724/25724 [==============================] - 1s 36us/sample - loss: 0.5491 - accuracy: 0.7325
Epoch 17/100
25724/25724 [==============================] - 1s 37us/sample - loss: 0.5488 - accuracy: 0.7329
Epoch 18/100
25724/25724 [==============================] - 1s 39us/sample - loss: 0.5487 - accuracy: 0.7328
Epoch 19/100
25724/25724 [==============================] - 1s 37us/sample - loss: 0.5485 - accuracy: 0.7319
Epoch 20/100
25724/25724 [==============================] - 1s 38us/sample - loss: 0.5483 - accuracy: 0.7324
Epoch 21/100
25724/25724 [==============================] - 1s 35us/sample - loss: 0.5483 - accuracy: 0.7317
Epoch 22/100
25724/25724 [==============================] - 1s 35us/sample - loss: 0.5478 - accuracy: 0.7319
Epoch 23/100
25724/25724 [==============================] - 1s 35us/sample - loss: 0.5477 - accuracy: 0.7334
Epoch 24/100
25724/25724 [==============================] - 1s 35us/sample - loss: 0.5475 - accuracy: 0.7325
Epoch 25/100
25724/25724 [==============================] - 1s 35us/sample - loss: 0.5475 - accuracy: 0.7329
Epoch 26/100
25724/25724 [==============================] - 1s 35us/sample - loss: 0.5472 - accuracy: 0.7329
Epoch 27/100
25724/25724 [==============================] - 1s 36us/sample - loss: 0.5473 - accuracy: 0.7315
Epoch 28/100
25724/25724 [==============================] - 1s 35us/sample - loss: 0.5469 - accuracy: 0.7331
Epoch 29/100
25724/25724 [==============================] - 1s 39us/sample - loss: 0.5466 - accuracy: 0.7318
Epoch 30/100
25724/25724 [==============================] - 2s 73us/sample - loss: 0.5470 - accuracy: 0.7327
Epoch 31/100
25724/25724 [==============================] - 4s 138us/sample - loss: 0.5467 - accuracy: 0.7331
Epoch 32/100
25724/25724 [==============================] - 7s 269us/sample - loss: 0.5466 - accuracy: 0.7329
Epoch 33/100
25724/25724 [==============================] - 10s 386us/sample - loss: 0.5464 - accuracy: 0.7332
Epoch 34/100
25724/25724 [==============================] - 13s 509us/sample - loss: 0.5461 - accuracy: 0.7331
Epoch 35/100
25724/25724 [==============================] - 14s 544us/sample - loss: 0.5462 - accuracy: 0.7328
Epoch 36/100
25724/25724 [==============================] - 12s 468us/sample - loss: 0.5461 - accuracy: 0.7332
Epoch 37/100
25724/25724 [==============================] - 2s 67us/sample - loss: 0.5460 - accuracy: 0.7338
Epoch 38/100
25724/25724 [==============================] - 3s 103us/sample - loss: 0.5459 - accuracy: 0.7336
Epoch 39/100
25724/25724 [==============================] - 5s 182us/sample - loss: 0.5456 - accuracy: 0.7344
Epoch 40/100
25724/25724 [==============================] - 3s 125us/sample - loss: 0.5453 - accuracy: 0.7341
Epoch 41/100
25724/25724 [==============================] - 5s 203us/sample - loss: 0.5455 - accuracy: 0.7338
Epoch 42/100
25724/25724 [==============================] - 7s 262us/sample - loss: 0.5453 - accuracy: 0.7345
Epoch 43/100
25724/25724 [==============================] - 8s 304us/sample - loss: 0.5451 - accuracy: 0.7343
Epoch 44/100
25724/25724 [==============================] - 8s 322us/sample - loss: 0.5451 - accuracy: 0.7345
Epoch 45/100
25724/25724 [==============================] - 3s 99us/sample - loss: 0.5446 - accuracy: 0.7343
Epoch 46/100
25724/25724 [==============================] - 3s 99us/sample - loss: 0.5450 - accuracy: 0.7340
Epoch 47/100
25724/25724 [==============================] - 2s 75us/sample - loss: 0.5451 - accuracy: 0.7348
Epoch 48/100
25724/25724 [==============================] - 6s 244us/sample - loss: 0.5448 - accuracy: 0.7347
Epoch 49/100
25724/25724 [==============================] - 6s 220us/sample - loss: 0.5449 - accuracy: 0.7345
Epoch 50/100
25724/25724 [==============================] - 7s 285us/sample - loss: 0.5451 - accuracy: 0.7343
Epoch 51/100
25724/25724 [==============================] - 10s 394us/sample - loss: 0.5448 - accuracy: 0.7339
Epoch 52/100
25724/25724 [==============================] - 7s 280us/sample - loss: 0.5447 - accuracy: 0.7337
Epoch 53/100
25724/25724 [==============================] - 5s 180us/sample - loss: 0.5445 - accuracy: 0.7340
Epoch 54/100
25724/25724 [==============================] - 8s 329us/sample - loss: 0.5444 - accuracy: 0.7335
Epoch 55/100
25724/25724 [==============================] - 3s 121us/sample - loss: 0.5443 - accuracy: 0.7348
Epoch 56/100
25724/25724 [==============================] - 3s 112us/sample - loss: 0.5443 - accuracy: 0.7342
Epoch 57/100
25724/25724 [==============================] - 5s 207us/sample - loss: 0.5442 - accuracy: 0.7344
Epoch 58/100
25724/25724 [==============================] - 6s 228us/sample - loss: 0.5442 - accuracy: 0.7341
Epoch 59/100
25724/25724 [==============================] - 3s 123us/sample - loss: 0.5445 - accuracy: 0.7345
Epoch 60/100
25724/25724 [==============================] - 8s 315us/sample - loss: 0.5439 - accuracy: 0.7345
Epoch 61/100
25724/25724 [==============================] - 6s 242us/sample - loss: 0.5441 - accuracy: 0.7344
Epoch 62/100
25724/25724 [==============================] - 5s 213us/sample - loss: 0.5437 - accuracy: 0.7330
Epoch 63/100
25724/25724 [==============================] - 5s 206us/sample - loss: 0.5436 - accuracy: 0.7351
Epoch 64/100
25724/25724 [==============================] - 5s 182us/sample - loss: 0.5440 - accuracy: 0.7353
Epoch 65/100
25724/25724 [==============================] - 9s 345us/sample - loss: 0.5438 - accuracy: 0.7345
Epoch 66/100
25724/25724 [==============================] - 5s 191us/sample - loss: 0.5437 - accuracy: 0.7350
Epoch 67/100
25724/25724 [==============================] - 5s 176us/sample - loss: 0.5438 - accuracy: 0.7344
Epoch 68/100
25724/25724 [==============================] - 5s 177us/sample - loss: 0.5437 - accuracy: 0.7341
Epoch 69/100
25724/25724 [==============================] - 2s 61us/sample - loss: 0.5438 - accuracy: 0.7346
Epoch 70/100
25724/25724 [==============================] - 2s 79us/sample - loss: 0.5440 - accuracy: 0.7348
Epoch 71/100
25724/25724 [==============================] - 2s 87us/sample - loss: 0.5435 - accuracy: 0.7351
Epoch 72/100
25724/25724 [==============================] - 2s 81us/sample - loss: 0.5434 - accuracy: 0.7347
Epoch 73/100
25724/25724 [==============================] - 2s 85us/sample - loss: 0.5437 - accuracy: 0.7343
Epoch 74/100
25724/25724 [==============================] - 3s 118us/sample - loss: 0.5434 - accuracy: 0.7357
Epoch 75/100

25724/25724 [==============================] - 1s 54us/sample - loss: 0.5434 - accuracy: 0.7348
Epoch 76/100
25724/25724 [==============================] - 1s 55us/sample - loss: 0.5435 - accuracy: 0.7345
Epoch 77/100
25724/25724 [==============================] - 1s 53us/sample - loss: 0.5436 - accuracy: 0.7343
Epoch 78/100
25724/25724 [==============================] - 1s 54us/sample - loss: 0.5434 - accuracy: 0.7352
Epoch 79/100
25724/25724 [==============================] - 1s 53us/sample - loss: 0.5435 - accuracy: 0.7352
Epoch 80/100
25724/25724 [==============================] - 1s 54us/sample - loss: 0.5431 - accuracy: 0.7341
Epoch 81/100
25724/25724 [==============================] - 3s 107us/sample - loss: 0.5433 - accuracy: 0.7348
Epoch 82/100
25724/25724 [==============================] - 2s 76us/sample - loss: 0.5432 - accuracy: 0.7347
Epoch 83/100
25724/25724 [==============================] - 1s 58us/sample - loss: 0.5433 - accuracy: 0.7345
Epoch 84/100
25724/25724 [==============================] - 2s 60us/sample - loss: 0.5429 - accuracy: 0.7357
Epoch 85/100
25724/25724 [==============================] - 1s 56us/sample - loss: 0.5430 - accuracy: 0.7354
Epoch 86/100
25724/25724 [==============================] - 1s 57us/sample - loss: 0.5431 - accuracy: 0.7357
Epoch 87/100
25724/25724 [==============================] - 1s 58us/sample - loss: 0.5432 - accuracy: 0.7347
Epoch 88/100
25724/25724 [==============================] - 2s 60us/sample - loss: 0.5433 - accuracy: 0.7351
Epoch 89/100
25724/25724 [==============================] - 2s 72us/sample - loss: 0.5429 - accuracy: 0.7350
Epoch 90/100
25724/25724 [==============================] - 2s 87us/sample - loss: 0.5432 - accuracy: 0.7355
Epoch 91/100
25724/25724 [==============================] - 2s 86us/sample - loss: 0.5432 - accuracy: 0.7353
Epoch 92/100
25724/25724 [==============================] - 3s 101us/sample - loss: 0.5431 - accuracy: 0.7355
Epoch 93/100
25724/25724 [==============================] - 3s 109us/sample - loss: 0.5429 - accuracy: 0.7352
Epoch 94/100
25724/25724 [==============================] - 2s 97us/sample - loss: 0.5426 - accuracy: 0.7354
Epoch 95/100
25724/25724 [==============================] - 3s 100us/sample - loss: 0.5427 - accuracy: 0.7349
Epoch 96/100
25724/25724 [==============================] - 7s 291us/sample - loss: 0.5429 - accuracy: 0.7360
Epoch 97/100
25724/25724 [==============================] - 10s 372us/sample - loss: 0.5428 - accuracy: 0.7352
Epoch 98/100
25724/25724 [==============================] - 13s 488us/sample - loss: 0.5428 - accuracy: 0.7353
Epoch 99/100
25724/25724 [==============================] - 13s 522us/sample - loss: 0.5424 - accuracy: 0.7348
Epoch 100/100
25724/25724 [==============================] - 5s 188us/sample - loss: 0.5427 - accuracy: 0.7355

In [31]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8575/1 - 0s - loss: 0.5679 - accuracy: 0.7271
Loss: 0.5534012260033855, Accuracy: 0.7271137237548828

## Attempt 3

In [33]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [34]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(["EIN"], axis=1, inplace=True)
application_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [35]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [36]:
# Look at NAME value counts for binning
name_counts = application_df.NAME.value_counts()
name_counts

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [37]:
# Determine which values to replace if counts are less than ...?
replace_name = list(name_counts[name_counts < 10].index)

# Replace in dataframe
for app in replace_name:
    application_df.NAME = application_df.NAME.replace(app,"Other")
    
# Check to make sure binning was successful
application_df.NAME.value_counts()

Other                                      21022
PARENT BOOSTER USA INC                      1260
TOPS CLUB INC                                765
UNITED STATES BOWLING CONGRESS INC           700
WASHINGTON STATE UNIVERSITY                  492
                                           ...
CASCADE 4-H FOUNDATION                        10
FREE & ACCEPTED MASONS OF WASHINGTON          10
NEW MEXICO GARDEN CLUBS INC                   10
NATIONAL ASSOCIATION OF HISPANIC NURSES       10
UNION OF CALIFORNIA STATE WORKERS             10
Name: NAME, Length: 223, dtype: int64

In [38]:
# Look at APPLICATION_TYPE value counts for binning
application_counts = application_df.APPLICATION_TYPE.value_counts()
application_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [39]:
# Determine which values to replace if counts are less than ...?
replace_application = list(application_counts[application_counts < 500].index)

# Replace in dataframe
for app in replace_application:
    application_df.APPLICATION_TYPE = application_df.APPLICATION_TYPE.replace(app,"Other")
    
# Check to make sure binning was successful
application_df.APPLICATION_TYPE.value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [40]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df.CLASSIFICATION.value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [41]:
# Determine which values to replace if counts are less than ..?
replace_class = list(classification_counts[classification_counts < 1000].index)

# Replace in dataframe
for cls in replace_class:
    application_df.CLASSIFICATION = application_df.CLASSIFICATION.replace(cls,"Other")
    
# Check to make sure binning was successful
application_df.CLASSIFICATION.value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [42]:
# Generate our categorical variable lists
application_cat = application_df.dtypes[application_df.dtypes == "object"].index.tolist()
application_cat

['NAME',
 'APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [43]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(application_df[application_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(application_cat)
encode_df.head()

,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,NAME_ALABAMA TREASURE FOREST ASSOCIATION,NAME_ALPHA PHI SIGMA,NAME_ALPHA PHI SIGMA INC,NAME_ALTRUSA INTERNATIONAL FOUNDATION INC,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES INC,NAME_AMERICAN ART THERAPY ASSOCIATION INC,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [44]:
# Merge one-hot encoded features and drop the originals
application_df = application_df.merge(encode_df,left_index=True, right_index=True)
application_df = application_df.drop(application_cat,1)
application_df.head()

/Users/veronicalobkina/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,NAME_ALABAMA TREASURE FOREST ASSOCIATION,NAME_ALPHA PHI SIGMA,NAME_ALPHA PHI SIGMA INC,NAME_ALTRUSA INTERNATIONAL FOUNDATION INC,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [45]:
# Split our preprocessed data into our features and target arrays
y = application_df["IS_SUCCESSFUL"].values
X = application_df.drop(["IS_SUCCESSFUL"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

/Users/veronicalobkina/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

In [46]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [47]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 15
hidden_nodes_layer2 = 11
hidden_nodes_layer3 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_6 (Dense)              (None, 15)                4005
_________________________________________________________________
dense_7 (Dense)              (None, 11)                176
_________________________________________________________________
dense_8 (Dense)              (None, 5)                 60
_________________________________________________________________
dense_9 (Dense)              (None, 1)                 6
=================================================================
Total params: 4,247
Trainable params: 4,247
Non-trainable params: 0
_________________________________________________________________

In [48]:
# Import checkpoint dependencies
import os
from tensorflow.keras.callbacks import ModelCheckpoint

# Define the checkpoint path and filenames
os.makedirs("checkpoints1/",exist_ok=True)
checkpoint_path = "checkpoints1/weights.{epoch:02d}.hdf5"

In [49]:
# Create a callback that saves the model's weights every 5 epoch
cp_callback = ModelCheckpoint(
    filepath=checkpoint_path,
    verbose=1,
    save_weights_only=True,
    save_freq='epoch',
    period = 5)

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of samples seen.